@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.m0 {
  margin: 0;
}

/* Définitions des couleurs de la charte graphique */
.primary-color {
  color: #9356dc;
}

.secondary-color {
  color: #ff79da;
}

.tertiary-color {
  color: #99e2d0;
}

.grey-color {
  color: grey;
}

/* Définitions de background en fonction des couleurs de la charte graphique  */
.bg--primary {
  background-color: #9356dc;
}

.bg--secondary {
  background-color: #ff79da;
}

.bg--tertiary {
  background-color: #99e2d0;
}

.bg--grey {
  background-color: #e9e9e9;
}

.bg--grey-white {
  background-color: #f5f5f5;
}

.bg--white {
  background-color: white;
}

.bg--footer {
  background-color: #373737;
}

/* Loader Spinner */
.loader-omf {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: hidden 3000ms forwards cubic-bezier(0.9, 0, 0.1, 1);
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-steps {
  width: 4.25rem;
  height: 4.25rem;
  background: #99e2d0;
  border-radius: 50%;
  position: relative;
}

.loader-steps img {
  width: 2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.loader-steps::after,
.loader-steps::before {
  content: "";
  display: block;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
}

.loader-steps-process::after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
  transform: rotate(0deg) scale(1);
  animation: loader 1200ms linear infinite;
}

@keyframes loader {
  50% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* Header */
.header-area {
  grid-template-columns: 1fr;
}

.header-area-resto img {
  max-width: 60%;
}

.header-area-resto {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.header-area-resto a {
  text-decoration: none;
  color: black;
}

/* Navigation */
.logo {
  width: 100%;
  justify-content: center;
  padding: 1rem;
  background-color: white;
}

.logo-area-resto {
  width: 100%;
  justify-content: center;
  background-color: white;
}

/* Localisation */
.location {
  justify-content: center;
  padding: 1rem;
  box-shadow: inset 0 0.625rem 0.5rem -0.625rem rgba(0, 0, 0, 0.3);
  background-color: #e9e9e9;
}

.location i {
  font-size: 1.1rem;
  margin-right: 1rem;
}

.location span {
  margin: 0;
  font-weight: 500;
}

/* Information */
.information {
  display: grid;
  grid-template-columns: 1fr;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.presentation h1 {
  font-size: 1.5rem;
}

.presentation a {
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  color: white;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  padding: 0.75rem 1.25rem;
  margin: 0.75rem;
  border-radius: 1.5rem 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.presentation a:hover,
.order:hover {
  opacity: 0.85;
}

.presentation a:hover,
.process ol li:hover,
.resto-card:hover,
.order:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5),
    0 1px 3px 1px rgba(60, 64, 67, 0.4);
  transition: all 500ms ease-in-out;
}

/* Process */
.process {
  padding: 1rem;
}
.process ol {
  list-style: none;
  counter-reset: li;
  row-gap: 1.5rem;
  padding-left: 0;
}

.process ol li {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1.25rem;
  border-radius: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 500;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  cursor: pointer;
  counter-increment: li;
}

.process ol li:not(:last-child) {
  background-color: #f5f5f5;
}

.process ol li::before {
  content: counter(li);
  background: #9356dc;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1.75rem;
}

.process ol li:last-child {
  background-color: rgba(147, 86, 220, 0.15);
}

.process ol li:hover {
  background-color: rgba(147, 86, 220, 0.15);
}

.process ol li:hover i {
  color: #9356dc;
}

.process ol li i {
  margin: 0 1.2rem;
}
/* Restaurant */
.restaurant {
  grid-template-rows: repeat(6, auto);
  row-gap: 2rem;
  padding: 1rem;
}

.restaurant a {
  text-decoration: none;
  color: black;
}

.restaurant h2 {
  grid-column: 1/-1;
  margin: 0;
}

.resto-card {
  position: relative;
  border-radius: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.resto-card-new {
  position: absolute;
  margin: 0;
  background-color: #99e2d0;
  color: #278870;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  border-radius: 0.2rem;
  right: 0.8rem;
  top: 0.8rem;
  box-shadow: 0.125rem 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.3);
}

.resto-card img {
  height: 9rem;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.resto-img-header {
  margin: 0;
  height: 15rem;
}

.resto-img-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resto-card figcaption h3 {
  margin: 0.75rem 0 0 0.75rem;
}

.resto-card-description {
  justify-content: space-between;
}

.resto-card-description p {
  margin: 0 0 0.75rem 0.75rem;
}

.resto-card-description .heart-heart {
  font-size: 1.8rem;
  margin-top: -1.2rem;
  margin-right: 0.75rem;
  color: transparent;
  -webkit-text-stroke: 0.125rem;
  -webkit-text-stroke-color: black;
}

.resto-card-description .heart-heart:hover,
.menu-resto .heart-heart:hover {
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  -webkit-text-stroke: 0;
  transition: all 500ms ease-out;
  -webkit-background-clip: text;
}

/* Menu */
.menu {
  position: relative;
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  margin-top: -3rem;
}

.menu-resto {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.menu-resto h2 {
  font-family: "Shrikhand", cursive;
}

.menu-resto i {
  font-size: 1.5rem;
}

.menu-resto .heart-heart {
  font-size: 1.8rem;
  margin-right: 0.75rem;
  color: transparent;
  -webkit-text-stroke: 0.125rem;
  -webkit-text-stroke-color: black;
}

.menu-card {
  border-radius: 1rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
}

.menu-card:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.5),
    0 1px 3px 1px rgba(60, 64, 67, 0.4);
  transition: all 500ms ease-in-out;
}

.menu-card-loader {
  animation: loading-card 1500ms both;
}

.menu-card-delay-one {
  animation-delay: 0.3s;
}

.menu-card-delay-two {
  animation-delay: 0.6s;
}

.menu-card-delay-three {
  animation-delay: 0.9s;
}

@keyframes loading-card {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.menu-card h3 {
  margin: 0.75rem 0 0 0.75rem;
}

.menu-card p {
  margin: 0.25rem 0 0.75rem 0.75rem;
}

.menu-info-verif .menu-info-verif-ok {
  font-size: 1.385rem;
  color: white;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* animation achat */
.menu-info {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.menu-info-verif {
  opacity: 0;
  width: 0%;
}

.menu-card:hover .menu-info-verif {
  animation: selection 0.5s both;
}

@keyframes selection {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}

.menu-card:hover .menu-info-verif-ok::before {
  animation: rotation 0.6s ease;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* animation achat ---- fin */

.menu-info h3,
.menu-info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-info-price {
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  font-weight: 500;
  padding-right: 0.75rem;
}

.menu-section-title {
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 0.1875rem solid #99e2d0;
  width: 2.9rem;
}

.menu-section {
  grid-template-rows: repeat(4, auto);
  row-gap: 1.5rem;
  padding-bottom: 2rem;
}

.order {
  justify-content: center;
  text-decoration: none;
  text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.3);
  color: white;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  padding: 0.75rem;
  margin: 1.75rem 3.5rem;
  border-radius: 1.5rem 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

/* Footer */
footer {
  padding: 1.5rem;
  row-gap: 0.5rem;
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.25rem;
}

.suggestion-footer::before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f2e7";
  margin-right: 0.9rem;
}

.partner-footer::before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: "\f4c4";
  margin-right: 0.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}
